body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#editor-container {
    display: flex;
    height: 100vh;
}

.editor-pane {
    flex: 1;
    padding: 10px;
}

textarea {
    width: 100%;
    height: calc(100% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    resize: none;
}

#output {
    height: 50%;
    overflow: auto;
    margin-top: 100px;
    padding: 10px;
    border-top: 1px solid #ccc;
}